*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
div.main{
    background-image: linear-gradient(to bottom, rgba(14, 38, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('background.jpg');
    height:100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

ul li{
    list-style:none;
    display: inline;
    margin-left:20px;
}

li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.logo{
    width:75px;
    height:75px;
    cursor:pointer;
    border:rgb(255, 255, 255) solid 2px;
    border-radius: 50%;
    position: relative;
    box-shadow:0px 0px 20px rgb(255, 255, 255); 
}
.navbar{
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top:25px;
    margin: 0 100px;
}

div.content{
    display: inline-block;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20%;
    margin-left:10%; 
    max-width:80%; 
   
}

 button {
    width: 100px;
    padding: 10px 0;
    margin: 20px 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #1d05f5;
    border-radius: 25px;
    background: transparent;
}

button:hover {
    background: #ffffff6b;
    color: #fff;
}
}



        
        
        

